.container{
    width: 1140px;
    margin: 0 auto;
}
.header{
    background: url(IMAGE.png) no-repeat center center;
    height: 100vh;
    
}
.left{
    display: flex;
    gap: 25px;
}
.nav_content{
    display: flex;
    justify-content: space-between;
}
.center{
    display: flex;
    gap: 25px;
}
.center_2{
    display: flex;
    gap: 25px;
}
.right{
    display: flex;
    gap: 25px;
}
.left_h2{
font-size: 10px;
color: white;
}
.header_h1{
    height: 197px;
    width: 410px;
    left: 42px;
    top: 104px;
    border-radius: nullpx;
    color: white;    
    font-size: 63px;
}
.header_button{
    background: black;
    color: white;
    height: 37px;
    width: 200px;
    left: 42px;
   top: 337px;
   border-radius: 5px;
}
.main_left{
    display: flex;
    align-items: center;
    gap: 15px;
}
.h2{
    align-items: center;
}
.main_center{
    align-items: center;
    display: flex;
    gap: 15px;
}
.main_center_2{
    align-items: center;
    display: flex;
    gap: 15px;
}
.main_right{
    align-items: center;
    display: flex;
    gap: 15px;
}
.big{
    display: flex;
    justify-content: space-between;
}
.between_h1{
    font-size: 125px;
    text-align: center;
}
.ram{
    align-items: center;
}
.div{
    align-items: center;
}
.gers{
    align-items: center;
}
.rek{
    align-items: center;
}
.lak{
    align-items: center;
}
.images{
    display: flex;
    justify-content: space-between;
}
.rasmlar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_button_1{
    background: black;
    color: white;
    height: 37px;
width: 200px;
left: 42px;
top: 337px;
border-radius: 5px;
margin-left: 480px;
text-align: center;
margin-top: 20px;
}
._h3{
    text-align: center;
}
._h1{
    height: 230px;
width: 681px;
left: 260px;
top: 1794px;
border-radius: nullpx;
font-size: 38px;
text-align: center;

margin-left: 200px;
}
.regtagle_h1{
    text-align: center;
    font-size: 52px;
    height: 175px;
width: 439px;
left: 658px;
top: 2320px;
border-radius: nullpx;
margin-top:150px ;
margin-left: 40px;

}
.link{
    background: #F4EDE6;
    border: 2px solid black;
    height: 546px;
width: 546px;
left: 604px;
top: 2170px;
border-radius: 9px;

}
.regtagle{
    display: flex;
  gap: 20px;
}
.no_h1{
    font-size: 192px;
    text-align: center;
}
.fen_h3{
    text-align: center;
}
.fen_button{
    background: black;
    color: white;
    height: 37px;
width: 200px;
left: 42px;
top: 337px;
border-radius: 5px;
margin-left: 480px;
text-align: center;
margin-top: 20px;
}
.regtagle_2{
    display: flex;
    gap: 30px;
}
.regtagle_3{
    background: #C6BC8A;
    height: 546px;
width: 546px;
left: 604px;
top: 4001px;
border-radius: 9px;


}
.regtagle_h4{
    font-size: 52px;
    text-align: center;
    margin-top:150px ;
    margin-left: 40px;
}
.regtagle_h5{
    text-align: center;
    margin-top:150px ;
    margin-left: 40px;

}
.ta_rasm{
    display: flex;
    gap: 32px;
}
.footer_input{
    height: 37px;
width: 267px;
left: 50px;
top: 4763px;
border-radius: 4.166669845581055px;





}
.footer_h2{
   font-size: 15px;
}
.footer_center{
    display: flex;
    justify-content: space-between;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.metka{
    display: flex;
    gap: 20px;
    text-align: center;
    
}
.katta{
    display: flex;
    gap: 40px;
}
.sox{
    font-size: 200px;
    text-align: center;
}
.kattaroq{
    display: flex;
    justify-content: space-between;
}
.oxiri{
    display: flex;
    gap: 10px;
}
.ikkinchi{
    display: flex;
    gap: 30px; 
}
